@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --xanthous-50: #fffaeb;
  --xanthous-100: #fdefc8;
  --xanthous-200: #fbdf8c;
  --xanthous-300: #f9c850;
  --xanthous-400: #f7b32b;
  --xanthous-500: #f1910f;
  --xanthous-600: #d56c0a;
  --xanthous-700: #b14a0c;
  --xanthous-800: #8f3a11;
  --xanthous-900: #763111;
  --xanthous-950: #441704;

  --night-50: #f8f7f8;
  --night-100: #f0eeef;
  --night-200: #ded9dc;
  --night-300: #c1b8bd;
  --night-400: #9f919a;
  --night-500: #83747c;
  --night-600: #6b5e66;
  --night-700: #574d53;
  --night-800: #4a4246;
  --night-900: #403a3d;
  --night-950: #131112;

  --text: var(--night-900);
  --on-text: var(--night-800);
  --background: var(--night-100);
  --on-background: var(--night-300);

  --primary: var(--xanthous-400);
  --secondary: var(--xanthous-100);
  --accent: var(--xanthous-600);

  --rounded-md: 0.5em;

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  --font-normal: 400;
  --font-bold: 700;

  --text-md: 1rem;
  --text-lg: 1.4em

  color: var(--text);
  background: var(--background);

  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-normal);
  font-style: normal;
}

.light {
  --text: var(--night-900);
  --on-text: var(--night-800);
  --background: var(--night-100);
  --on-background: var(--night-300);

  --primary: var(--xanthous-400);
  --secondary: var(--xanthous-100);
  --accent: var(--xanthous-600);

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  color: var(--text);
  background: var(--background);
}

.dark {
  --text: var(--night-100);
  --on-text: var(--night-300);
  --background: var(--night-950);
  --on-background: var(--night-800);

  --primary: var(--xanthous-500);
  --secondary: var(--xanthous-300);
  --accent: var(--xanthous-800);


  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -4px rgb(0 0 0 / 0.3);

  color: var(--text);
  background: var(--background);
}

body {
  margin: 0;
}
